<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="py.com.fuentepy.prontoshop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".core.ProntoShopApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".common.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.transactions.TransactionActivity"
            android:label="@string/title_activity_transaction"
            android:parentActivityName=".common.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".common.MainActivity" />
        </activity>

        <service
            android:name=".core.AddInitialDataService"
            android:exported="false" />

    </application>

</manifest>